body {
  margin: 3vw;
  font-size: 15px;
}

.thumbnail-grid {
  display: grid;
  gap: 30px 10px;
  grid-template-columns: auto auto auto auto;
}

.thumbnail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}